<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
  </div>

  <div class="field">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>

  <div class="field">
    <%= f.label :birthdate %>
    <%= f.date_select :birthdate %>
  </div>
  <%= f.fields_for :addresses do |a| %>
      <h3>Addresses: </h3>
      <div class="field">
        <%= a.label :kind %>
        <%= a.text_field :kind %>
      </div>
      <div class="field">
        <%= a.label :city %>
        <%= a.text_field :city %>  
      </div>
      <div class="field">
        <%= a.label :street %>
        <%= a.text_field :street %>  
      </div>
      <div class="field">
        <%= a.label :destroy %>
        <%= a.check_box :_destroy %>  
      </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
 